{% extends "layout.html" %}


{% block title %}
    View Singe Person data
{% endblock title %}
    


{% block content %}
<h1 class='text-center text-5xl font-bold p-5 text-orange-600'>Student Data Management System In Django</h1>
<div class="flex items-center justify-center">
    <div class="py-5 w-3/5">
        <h1 class='text-center text-3xl font-bold p-4 bg-orange-600 text-white'>Single Person Data</h1>
        <div class='border-2 py-3 px-5 border-orange-600 mb-5'>
            <h3 class='text-2xl text-orange-600'><span class='font-bold'>Name:</span>&nbsp {{view_Data.name}}</h3>
            <h3 class='text-2xl text-orange-600'><span class='font-bold'>Father Name:</span>&nbsp {{view_Data.father_name}}</h3>
            <h3 class='text-2xl text-orange-600'><span class='font-bold'>Mother Name:</span>&nbsp {{view_Data.mother_name}}</h3>
            <h3 class='text-2xl text-orange-600'><span class='font-bold'>Roll No:</span>&nbsp {{view_Data.roll_number}}</h3>
            <h3 class='text-2xl text-orange-600'><span class='font-bold'>Email:</span>&nbsp {{view_Data.email}}</h3>
        </div>
        <div class='pt-2'>
            <a href="" class='px-3 py-2 border border-transparent text-sm font-bold rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2'>Back to Home</a>
            <a href="{% url 'Show_data' %}" class='px-3 py-2 border border-transparent text-sm font-bold rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2'>All Data</a>
        </div>
    </div>
  </div>
{% endblock content %}
    